# Python Data Type

### String Based Assignment

1. Write a program to reverse a string.

In [1]:
## create a function to reverse passed string value
def reverse_string(in_string):
    ## create a variable to store the reverse string
    rev_str = ''
    ## create a varible to store the input string
    st = in_string
    ## print the passed string value 
    print('entered string :', st)
    ## reverse the string value
    rev_str = st[::-1]
    ## return the reverse string as output
    return 'reverse string :' + rev_str

2. Check if a string is a palindrome.

In [2]:
## create a variable to store the string value
vstr = input('enter the string :')

## create if clause to verify the entered string is a palindrome or not
if vstr == vstr[::-1]:
    print('String is a palindrome :', True)
else:
    print('String is a palindrome :', False)

enter the string :malylam
String is a palindrome : True

3. Convert a string to uppercase.

In [3]:
## create a variabel to pass the string value
vsr = input('enter the string value :')

## create a variabel to store upper case string
vst_upp = ''

## convert the string to upper case
vst_upp = vsr.upper()

## print the upper case string value
print('upper case string :', vst_upp)

enter the string value :basha
upper case string : BASHA

4. Convert a string to lowercase.

In [4]:
## create a variabel to pass the string value
vsr = input('enter the string value :')

## create a variabel to store lower case string
vst_low = ''

## convert the string to upper case
vst_low = vsr.lower()

## print the lower case string value
print('lower case string :', vst_low)

enter the string value :basha
lower case string : basha

5. Count the number of vowels in a string.

In [5]:
## create a function to count vlowels in a entered string
def cnt_vowels(string):
    
    ## create variable to store the count of vowels
    count = 0
    
    ## create variable with list vowels
    vowels = ['a', 'e', 'i', 'o', 'u']
    
    ## convert the entered string to lower case
    st = string.lower()
    
    ## create a for loop to iterate through each character
    for i in st:
        
        ## check if the character is vowel or not
        if i in vowels:
        ## increment the counter if character matches with vowel
            count += 1
            
    return count

In [6]:
cnt_vowels('Count the number of vowels in a string')

11

6. Count the number of consonants in a string.

In [7]:
## create a function to count consonants in a entered string
def cnt_consonants(string):
    ## create variable to store the count of consonants
    count = 0
    ## create a set with vowels
    vowels = set('aeiou')
    ## convert the entered string to lower case
    st = string.lower()
    ## create a for loop to iterate through each character
    for i in st:
        ## check if the character is consonant or not
        if i not in vowels:
        ## increment the counter if character matches with consonant
            count += 1
    return count

In [8]:
cnt_consonants('Count the number of consonants in a string')

30

7. Remove all whitespaces from a string.

In [94]:
## create a function to remove whitespaces from the string
def remv_spaces(string):
    
    # Print the original string
    print(string)
    
    # Initialize an empty string to store characters without spaces
    s = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is not a space
        if i != ' ':
            # If it's not a space, append it to the new string
            s = s + i
    # Return the string without spaces
    return s

In [95]:
remv_spaces('Remove all whitespaces from a string')

Remove all whitespaces from a string

'Removeallwhitespacesfromastring'

8. Find the length of a string without using the `len()` function.

In [96]:
## create a function to find the length of the string
def len_string(string):
    
    # Print the original string
    print(string)
    
    # Initialize a counter to keep track of the length of the string
    cnt = 0
    
    # Iterate through each character in the string
    for i in string:
        # Increment the counter for each character in the string
        cnt += 1
        
    # Return the count, representing the length of the string
    return cnt

In [12]:
len_string('Find the length of a string without using the `len()` function')

Find the length of a string without using the `len()` function

62

9. Check if a string contains a specific word.

In [13]:
## create a function to find the length of the string
var_string = input('enter the string :')
var_word = input('enter searching word:')
## convert a string to lower case
var_string_low = var_string.lower()
var_word_low = var_word.lower()
## find whether entred word is available in given string or not
if var_word_low in var_string_low:
    print(f'yes, {var_word_low} word is available in "{var_string_low}"')
else:
    print(f'no, {var_word_low} word is not available in "{var_string_low}"' )

enter the string :Check if a string contains a specific word
enter searching word:che
yes, che word is available in "check if a string contains a specific word"

10. Replace a word in a string with another word.

In [97]:
# Get input string from the user
string = input('enter the string :')

# Get the old word to be replaced from the user
old_word = input('old key word :')

# Get the new word to replace the old word from the user
new_word = input(' new key word :')

# Initialize an empty string to store the updated string
new_string = ''

# Replace the old word with the new word in the string
new_string = string.replace(old_word,new_word)

# Print the original string
print('old string :', string)

# Print the replacement operation
print(f'{new_word} ---> {old_word}')

# Print the updated string
print('new string :', new_string)

enter the string :shaik
old key word :basha
 new key word :et
old string : shaik
et ---> basha
new string : shaik

11. Count the occurrences of a word in a string.

In [99]:
## Create a function to count the occurrence of word in a string
def word_occurrence(in_string,word):
    
    # Convert the input string to lowercase and split it into a list of words
    string = in_string.lower().split()
    
    # Print the lowercase input string
    print('input string :',in_string.lower())
    
    # Convert the word to be searched to lowercase
    ser_word = word.lower()
    
    # Initialize a counter to keep track of the occurrences of the word
    cnt = 0
    
    # Iterate through each word in the list of words
    for i in string:
        # Check if the lowercase word matches the word in the list
        if ser_word == i:
            # If there is a match, increment the counter
            cnt += 1
            
    # Print the count of occurrences of the word in the string
    print(f"count of {ser_word} occurrences in string is : {cnt}")

In [100]:
word_occurrence('Count the occurrences of a word in a string','a')

input string : count the occurrences of a word in a string
count of a occurrences in string is : 2

12. Find the first occurrence of a word in a string.

In [17]:
# Create a function to find the first occurence of a word in string
def word_first_occurrence(string,word):
    
    # Convert the string to lowercase
    string_low = string.lower()
    
    # Convert the word to be searched to lowercase
    ser_word = word.lower()
    
    # Find the index of the first occurrence of the word in the string
    index_word = string_low.find(ser_word)
    
    # Print the lowercase input string
    print('input string :', string_low)
    
    # Print the index of the first occurrence of the word in the string
    print(f'"{ser_word}" word first occurrence at :',index_word)

In [18]:
word_first_occurrence('Find the first occurrence of a word in a string','a')

input string : find the first occurrence of a word in a string
"a" word first occurrence at : 29

13. Find the last occurrence of a word in a string.

In [19]:
# Create a function to find the last occurrence of a word in string
def word_first_occurrence(string,word):
    
    # Convert the string to lowercase
    string_low = string.lower()
    
    # Convert the word to be searched to lowercase
    ser_word = word.lower()
    
    # Find the index of the first occurrence of the word in the string
    index_word = string_low.rfind(ser_word)
    
    # Print the lowercase input string
    print('input string :', string_low)
    
    # Print the index of the first occurrence of the word in the string
    print(f'"{ser_word}" word last occurrence at :',index_word)

In [20]:
word_first_occurrence('Find the first occurrence of a word in a string','a')

input string : find the first occurrence of a word in a string
"a" word last occurrence at : 39

14. Split a string into a list of words.

In [21]:
# Create function to split the string into words
def string_to_word(string):
    
    # Convert the string to lowercase
    string_low = string.lower()
    
    # Split the lowercase string into a list of words
    word = string_low.split()
    
    # Print the lowercase input string
    print('input string :', string_low)
    
    # Print the list of words from the string
    print('list of words :', word)

In [22]:
string_to_word('Split a string into a list of words')

input string : split a string into a list of words
list of words : ['split', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

15. Join a list of words into a string.

In [23]:
# Create a function to join list of word into a string
def word_to_string(list_word):
    
    # Join the list of words into a single string separated by spaces
    string = ' '.join(list_word)
    
    # Print the resulting string
    print(string)

In [24]:
word_to_string(['split', 'a', 'string', 'into', 'a', 'list', 'of', 'words'])

split a string into a list of words

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [101]:
# Create a function to replace space with underscore
def spaces_to_underscore(string):
    
    # Convert the string to lowercase
    string_low = string.lower()
    
    # Replace spaces with underscores in the lowercase string
    new_string = string_low.replace(' ','_')
    
    # Print the lowercase input string
    print('input string :', string_low)
    
    # Print the string with spaces replaced by underscores
    print('output string :', new_string)

In [102]:
spaces_to_underscore('Convert a string where words are separated by spaces to one where words are separated by underscores')

input string : convert a string where words are separated by spaces to one where words are separated by underscores
output string : convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores

17. Check if a string starts with a specific word or phrase.

In [103]:
def check_start_str_words(string, word):
    # Convert the input string to lowercase and remove leading and trailing whitespaces
    str_low = string.lower().strip()
    
    # Convert the word to be checked to lowercase and remove leading and trailing whitespaces
    word_low = word.lower().strip()
    
    # Print the lowercase input string
    print('input string :', str_low)
    
    # Check if the lowercase string starts with the lowercase word
    if str_low.startswith(word_low):
        print(f'string started with word : {word_low}')
    else:
        print(f'string not started with word : {word_low}')

In [104]:
check_start_str_words(' hi this pwskills mentor ','HI')

input string : hi this pwskills mentor
string started with word : hi

18. Check if a string ends with a specific word or phrase.

In [105]:
def check_end_str_words(string, word):
    # Convert the input string to lowercase and remove leading and trailing whitespaces
    str_low = string.lower().strip()
    
    # Convert the word to be checked to lowercase and remove leading and trailing whitespaces
    word_low = word.lower().strip()
    
    # Print the lowercase input string
    print('input string :', str_low)
    
    # Check if the lowercase string ends with the lowercase word
    if str_low.endswith(word_low):
        print(f'string ended with word : {word_low}')
    else:
        print(f'string not ended with word : {word_low}')

In [106]:
check_end_str_words(' hi this pwskills mentor ','to')

input string : hi this pwskills mentor
string not ended with word : to

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [31]:
def str_to_title_case(string):
    # Convert the string to title case and remove leading and trailing whitespaces
    str_title = string.strip().title()
    
    # Print the original input string
    print('input string:', string)
    
    # Print the string converted to title case
    print('output string :', str_title)

In [32]:
str_to_title_case(' Convert a string to title case ')

input string:  Convert a string to title case
output string : Convert A String To Title Case

20. Find the longest word in a string.

In [93]:
# Create a function to find longest word in a string
def longest_word(string):
    
    # Split the string into words
    s = string.lower().split()
    
    # Initialize the variable with first word from string
    long_word = s[0]
    
    # Iterate through string of words to find longest word
    for i in s:
        if len(i) > len(long_word):
            long_word = i
            
    return long_word     

# Call the function with string value
result = longest_word('Find the longest word in a string')

# Print the result
print('Longest word in string :', result)

Longest word in string : longest

In [87]:
longest_word('Find the longest stronge word in a string')

['find', 'the', 'longest', 'stronge', 'word', 'in', 'a', 'string']
stronge

21. Find the shortest word in a string.

In [92]:
# Create a function to find shortest word in a string
def shortes_word(string):
    
    # Split the string into words
    s = string.lower().split()
    
    # Initialize the variable with first word from string
    short_word = s[0]
    
    # Iterate through string of words to find shortest word
    for i in s:
        if len(i) < len(short_word):
            short_word = i
            
    return short_word     

# Call the function with string value
result = shortes_word('Find the shortest word in a string')

# Print the result
print('Shortest word in string :', result)

Shortest word in string : a

22. Reverse the order of words in a string.

In [107]:
def reverse_word(string):
    # Convert the string to lowercase and store it in a variable
    old_str = string.lower()
    
    # Reverse the string and store it in a new variable
    new_str = old_str[::-1]
    
    # Print the original input string
    print('input string:', old_str)
    
    # Print the reversed string
    print('output string:', new_str)

# Calling the function with an example string
reverse_word('Reverse the order of words in a string')

input string: reverse the order of words in a string
output string: gnirts a ni sdrow fo redro eht esrever

23. Check if a string is alphanumeric.

In [36]:
# Define the string
st = '123psw'

# Define a function to check if the string is alphanumeric
def str_alpha(string):
    # Initialize a boolean variable x
    x = bool
    # Check if the string is alphanumeric
    if string.isalnum():
        x = True
    else:
        x = False
    return x

# Call the function and print the result
if str_alpha(st) == True:
    print("Yes, input string is alphanumeric")
else:
    print('No, input string is not alphanumeric')

Yes, input string is alphanumeric

24. Extract all digits from a string.

In [108]:
# Define the input string
st = 'hello123'

# Define a function to extract digits from a string
def extract_digit(input_str):
    # Initialize an empty string to store digits
    digits = ''
    
    # Iterate through each character in the input string
    for char in input_str:
        # Check if the character is numeric (a digit)
        if char.isnumeric():
            digits += char
    
    # Return the extracted digits as a string
    return digits

# Call the function and store the result in a variable
result = extract_digit(st)

# Print the extracted digits
print(result)

123

25. Extract all alphabets from a string.

In [38]:
# Define the input string
st = 'hello123'

# Define a function to extract alphabetic characters from the string
def extract_alphabets(string):
    # Initialize an empty string to store the alphabetic characters
    alphabets = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is an alphabet using the isalpha method
        if i.isalpha():
            # If it is an alphabet, add it to the alphabets string
            alphabets += i
    
    # Return the string containing the extracted alphabetic characters
    return alphabets

# Call the function with the input string and print the result
print(extract_alphabets(st))

'hello'

26. Count the number of uppercase letters in a string.

In [39]:
# Define the input string
st = 'HellO123'

# Define a function to extract and count uppercase letters in the string
def extract_upper_letters(string):
    # Initialize an empty string to store the uppercase letters
    upper_letters = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is an uppercase letter using the isupper method
        if i.isupper():
            # If it is an uppercase letter, add it to the upper_letters string
            upper_letters += i
    
    # Return the count of uppercase letters
    return len(upper_letters)

# Call the function with the input string and print the count of uppercase letters
print(extract_upper_letters(st))

2

27. Count the number of lowercase letters in a string.

In [40]:
# Define the input string
st = 'HellO123'

# Define a function to extract and count lowercase letters in the string
def extract_lower_letters(string):
    # Initialize an empty string to store the lowercase letters
    lower_letters = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is a lowercase letter using the islower method
        if i.islower():
            # If it is a lowercase letter, add it to the lower_letters string
            lower_letters += i
    
    # Return the count of lowercase letters
    return len(lower_letters)

# Call the function with the input string and print the count of lowercase letters
print(extract_lower_letters(st))

3

28. Swap the case of each character in a string.

In [109]:
# Define the input string
st = 'Swap The Case Of Each Character In A String'

# Function to check if a letter is in uppercase
def upper_case_letter(x):
    if x.isupper():
        return True

# Function to swap the case of each character in a string
def swap_letter_case(string):
    # Initialize an empty string to store the output
    output_str = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is an alphabet
        if i.isalpha():
            # If it's an alphabet, check if it's in uppercase using the upper_case_letter function
            if upper_case_letter(i):
                # If it's in uppercase, convert it to lowercase and add it to the output string
                output_str += i.lower()               
            else:
                # If it's in lowercase, convert it to uppercase and add it to the output string
                output_str += i.upper()
        else:
            # If it's not an alphabet, directly add it to the output string
            output_str += i
    
    # Return the resulting string with swapped letter cases
    return output_str

# Call the function with the input string and print the result
print(swap_letter_case(st))

sWAP tHE cASE oF eACH cHARACTER iN a sTRING

29. Remove a specific word from a string.

In [110]:
def remove_specific_word(string, word):
    # Convert the input string to lowercase and split it into a list of words
    input_str = string.lower().split()
    
    # Convert the word to be removed to lowercase
    input_word = word.lower()
    
    # Initialize an empty string to store the output
    output_str = ''
    
    # Iterate through each word in the list
    for i in input_str:
        # Check if the word is not the word to be removed
        if i != input_word:
            # If it's not the word to be removed, add it to the output string
            output_str += ' ' + i
    
    # Return the formatted result with the input string, word to remove, and output string
    return 'input string :', string.lower(), 'word to remove :', input_word, 'output string :', output_str.strip()

# Call the function with the input string and word, and print the result
print(remove_specific_word('Remove a specific word from a string', 'specific'))

('input string :', 'remove a specific word from a string', 'word to remove :', 'specific', 'output string :', 'remove a word from a string')

30. Check if a string is a valid email address.
sources:
1. https://www.geeksforgeeks.org/check-if-email-address-valid-or-not-in-python/
2. https://www.abstractapi.com/guides/how-to-validate-an-email-address-in-python

In [135]:
import re

def is_valid_check(email):
    # Define a regular expression pattern for validating email addresses
    pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    
    if re.match(pat,email):
        return True
    else:
        return False
    
# User input
email = input('Eneter the meail to validate :')

# calling the funstion and print the result
if is_valid_check(email):
    print(f'{email} is valid email address')    
else:
    print(f'{email} is not valid email address')

Eneter the meail to validate :tstemail.com
tstemail.com is not valid email address

31. Extract the username from an email address string.

In [111]:
def ext_user_nm_email(string):
    # Split the string at the '@' symbol and get the substring before it as the user name
    user_nm = string.split('@')[0]
    return user_nm

# Call the function with the email string and print the result
print(ext_user_nm_email('pws@email.com'))

pws

32. Extract the domain name from an email address string.

In [44]:
def ext_domain_nm_email(string):
    # Split the string at the '@' symbol and get the substring after it as the domain name
    domain_nm = string.split('@')[1]
    return domain_nm

# Call the function with the email string and print the result
print(ext_domain_nm_email('pws@email.com'))

'email.com'

33. Replace multiple spaces in a string with a single space

In [45]:
def replace_multi_spaces(string):
    # Replace multiple spaces with a single space in the string
    output_str = string.replace('  ', ' ')
    return 'input string:', string, 'output string', output_str

# Call the function with the input string and print the result
print(replace_multi_spaces('pw  skills portal'))

('input string:', 'pw  skills portal', 'output string', 'pw skills portal')

34. Check if a string is a valid URL.
Resources:
1. https://www.slingacademy.com/article/python-ways-to-check-if-a-string-is-a-valid-url/
2. https://www.geeksforgeeks.org/check-if-an-url-is-valid-or-not-using-regular-expression/
3. https://www.codespeedy.com/check-if-a-string-is-a-valid-url-or-not-in-python/

In [46]:
# !pip install validators
# Import the validators module
import validators

# Define a function to validate a URL
def validate_url(string):
    # Check if the provided string is a valid URL using validators.url
    url_validate = validators.url(string)
    if url_validate == True:
        print('Yes, it is a valid URL')
    else:
        print('No, it is not a valid URL')

# Call the function with the URL and print the result
validate_url('https://www.codespeedy.com/check-if-a-string-is-a-valid-url-or-not-in-python/')

Yes, it is a valid URL

35. Extract the protocol (http or https) from a URL string.

In [47]:
def extract_url_protocol(url):
    # Split the URL at '://' and get the substring before it as the URL protocol
    url_protocol = url.split('://')[0]
    return 'URL protocol :', url_protocol

# Call the function with the URL and print the result
print(extract_url_protocol("https://www.codespeedy.com/check-if-a-string-is-a-valid-url-or-not-in-python/"))

('URL protocol :', 'https')

36. Find the frequency of each character in a string.

In [112]:
def freq_of_character(string):
    # Convert the string to lowercase
    st_lower = string.lower()
    
    # Initialize an empty dictionary to store character frequencies
    list_char = {}
    
    # Iterate through each character in the lowercase string
    for i in st_lower:
        # If the character is already in the dictionary, increment its count
        if i in list_char:
            list_char[i] += 1
        # If the character is not in the dictionary, add it with a count of 1
        else:
            list_char[i] = 1
    
    # Return the dictionary containing the frequencies of each character
    return list_char

# Call the function with the input string and print the result
print(freq_of_character('Find the frequency of each character in a string.'))

{'f': 3, 'i': 3, 'n': 4, 'd': 1, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1, 'g': 1, '.': 1}

37. Remove all punctuation from a string.
1. https://www.geeksforgeeks.org/string-punctuation-in-python/ -- list punctuations

In [49]:
import string

# Get the list of all punctuation characters
list_punc = string.punctuation

# Function to remove all punctuation from a string
def remove_all_punctuation(string):
    # Iterate through each punctuation character in the list
    for i in list_punc:
        # Check if the punctuation character is present in the string
        if i in list_punc:
            # Replace the punctuation character with an empty string
            string = string.replace(i, '')
    return string

# Call the function with the input string and print the result
print(remove_all_punctuation('hello, pwsk"ills. How are you doing!.'))

'hello pwskills How are you doing'

38. Check if a string contains only digits.

In [50]:
def check_digits(string):
    # Check if the entire string consists only of digits using isdigit
    if string.isdigit():
        print('Yes, string contains only digits')
    else:
        print('No, string contains other letters as well')

# Call the function with the input string and print the result
check_digits('1234')

Yes, string contains only digits

39. Check if a string contains only alphabets.

In [113]:
def check_alphabets(string):
    # Check if the entire string consists only of alphabetic characters using isalpha
    if string.isalpha():
        print('Yes, string contains only alphabets')
    else:
        print('No, string contains other letters as well')

# Call the function with the input string and print the result
check_alphabets('pwskills@123')

No, string contains other letters as well

40. Convert a string to a list of characters.

In [52]:
def str_to_list_char(string):
    # Print the input string
    print('input string :', string)
    
    # Initialize an empty list to store characters
    list_char = []
    
    # Iterate through each character in the string and append it to the list
    for i in string:
        list_char.append(i)
    
    # Print the resulting list of characters
    print('output list :', list_char)

# Call the function with the input string and print the result
str_to_list_char('Convert a string to a list of characters.')

input string : Convert a string to a list of characters.
output list : ['C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', '.']

41. Check if two strings are anagrams.
sources:
1. https://www.geeksforgeeks.org/python-sorted-check-two-strings-anagram-not/

In [53]:
def check_anagrams(str1, str2):
    # Print the first input string
    print('input string 1:', str1)
    
    # Print the second input string
    print('input string 2:', str2)
    
    # Sort the characters in both input strings
    input_str1 = sorted(str1)
    input_str2 = sorted(str2)
    
    # Check if the sorted strings are equal to determine whether they are anagrams
    if input_str1 == input_str2:
        print('Yes, the two strings are anagrams')
    else:
        print('No, the two strings are not anagrams')

# Call the function with the input strings and print the result
check_anagrams('silent', 'listen')

input string 1: silent
input string 2: listen
Yes, two strings are anagrams

42. Encode a string using a Caesar cipher.
sources:
1. https://www.geeksforgeeks.org/caesar-cipher-in-cryptography/
2. https://www.tutorialspoint.com/cryptography_with_python/cryptography_with_python_caesar_cipher.htm
3. https://www.scaler.com/topics/caesar-cipher-python/

In [54]:
def strig_encode(string, shift):
    # Print the input string
    print('input string :', string)
    
    # Initialize an empty string to store the encoded result
    result = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is uppercase
        if i.isupper():
            # Apply the Caesar cipher shift for uppercase letters
            result += chr((ord(i) + shift - 65) % 26 + 65)
        # Check if the character is lowercase
        elif i.islower():
            # Apply the Caesar cipher shift for lowercase letters
            result += chr((ord(i) + shift - 97) % 26 + 97)
        else:
            # If the character is not a letter, add it as is
            result += i
    
    # Print the encoded string
    print('encoded string :', result)

# Call the function with the input string and the shift value
strig_encode('Encode a string using a Caesar cipher', 5)

input string : Encode a string using a Caesar cipher
encoded string : Jshtij f xywnsl zxnsl f Hfjxfw hnumjw

43. Decode a Caesar cipher encoded string.

In [55]:
def strig_decode(string, shift):
    # Print the input string
    print('input string :', string)
    
    # Initialize an empty string to store the decoded result
    result = ''
    
    # Iterate through each character in the string
    for i in string:
        # Check if the character is uppercase
        if i.isupper():
            # Apply the reverse Caesar cipher shift for uppercase letters
            result += chr((ord(i) - shift - 65) % 26 + 65)
        # Check if the character is lowercase
        elif i.islower():
            # Apply the reverse Caesar cipher shift for lowercase letters
            result += chr((ord(i) - shift - 97) % 26 + 97)
        else:
            # If the character is not a letter, add it as is
            result += i
    
    # Print the decoded string
    print('decoded string :', result)

# Call the function with the input string and the shift value
strig_decode('Jshtij f xywnsl zxnsl f Hfjxfw hnumjw', 5)

input string : Jshtij f xywnsl zxnsl f Hfjxfw hnumjw
encoded string : Encode a string using a Caesar cipher

44. Find the most frequent word in a string.

In [146]:
def find_most_freq_word(string):
    # Convert the string to lowercase and split it into words
    lst_words = string.lower().split()

    # Create a set of unique words from the list
    unique_lst_words = list(set(lst_words))

    # Initialize variables for tracking the most frequent word
    max_freq = 0
    most_freq_word = ''

    # Iterate through unique words and find the most frequent word
    for word in unique_lst_words:
        cnt = lst_words.count(word)
        if cnt > max_freq:
            max_freq = cnt
            most_freq_word = word

    return max_freq, most_freq_word

# User input
string = 'Bob hit a ball, the hit BALL flew far after it was hit'
print('Input string:', string)

# Call the function and print the result
frequency, most_frequent_word = find_most_freq_word(string)

print('Most frequent word:', most_frequent_word)
print('Frequency of the word:', frequency)

Input string: Bob hit a ball, the hit BALL flew far after it was hit
Most frequent word: hit
Frequency of the word: 3

45. Find all unique words in a string.

In [138]:
# Create a function to find the unique words in a string
def find_unique_words(string):
    
    # Converting the string to a list of words in lowercase
    list_words = string.lower().split()
    
    # Extracting unique words from the list
    unique_words = list(set(list_words))
    
    return unique_words

# user input to the function
string = 'Create a function to find the unique words in a string'
print('Input string: ', string)

# Call the function and print the result
result = find_unique_words(string)
print('List of unique words:', result)

Input string:  Create a function to find the unique words in a string
List of unique words: ['function', 'words', 'create', 'to', 'find', 'a', 'in', 'the', 'unique', 'string']

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.
sources:
1. https://www.geeksforgeeks.org/python-program-check-string-contains-special-character/

In [154]:
# Define the set of special characters
special_characters = '[@_!#$%^&*()<>?/\|}{~:]'

# Function to check if a string contains any special characters
def check_any_special_char(string):
    # Convert the string to lowercase for case-insensitive comparison
    string = string.lower()
    
    # Iterate through each character in the string
    for char in string:
        # Check if the character is in the set of special characters
        if char in special_characters:
            return True
    return False

# Example usage
result = check_any_special_char('HelloWorld!')

# Print the result based on whether the string contains any special characters
if result:
    print('Yes, the string contains special characters.')
else:
    print("No, the string doesn't have any special characters.")

Yes, the string contains special characters.

48. Remove the nth word from a string.

In [198]:
def remove_nth_word(string, n):
    # Split the string into a list of words
    words = string.split()
    
    # Check if the value of n is within the range of the list
    if n > 0 and n <= len(words):
        # Remove the nth word using list slicing
        del words[n - 1]
        # Join the words back into a string
        new_string = ' '.join(words)
        return new_string
    else:
        return "Invalid value of n"

# Example usage
string = "This is an example string for testing"
n = 3
new_string = remove_nth_word(string, n)
print("Original string:", string)
print(f"String after removing the {n}th word:", new_string)

Original string: This is an example string for testing
String after removing the 3th word: This is example string for testing

49. Insert a word at the nth position in a string.

In [203]:
def insert_nth_word(string, word, n):
    # Split the string into a list of words
    words = string.split()
    
    # Check if the value of n is within the range of the list
    if n > 0 and n <= len(words):
        # Remove the nth word using list slicing
        words.insert(n - 1,word)
        # Join the words back into a string
        new_string = ' '.join(words)
        return new_string
    else:
        return "Invalid value of n"

# Example usage
string = "This is an example string for testing"
word = 'pwskills'
n = 3
new_string = insert_nth_word(string,word, n)
print("Original string:", string)
print(f"String after removing the {n}th word:", new_string)

Original string: This is an example string for testing
String after removing the 3th word: This is pwskills an example string for testing

50. Convert a CSV string to a list of lists.
sources:
    1. https://www.geeksforgeeks.org/read-a-csv-into-list-of-lists-in-python/

CSV List:
['1', '2', '3']
['4', '5', '6']
['7', '8', '9']

### List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [114]:
# Initialize an empty list
my_list = []

# Use a for loop to iterate over the range from 1 to 10 (inclusive)
for i in range(1, 11):
    # Append each number in the range to the list
    my_list.append(i)

# Print the list
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [58]:
def len_list(in_list):
    # Initialize a counter variable
    cnt = 0
    
    # Iterate through each element in the input list
    for i in in_list:
        # Increment the counter for each element
        cnt += 1
    
    # Print the length of the list
    print('length of the list will be:', cnt)

# Call the function with an example list and print the result
len_list([1, 2, 3, 4, 5, 6, 77, 78])

lenth of list will be : 8

3. Append an element to the end of a list.

In [59]:
# Create a list with initial elements
l = [1, 3, 4, 5, 6]

# Print the list before appending an element
print('before append an element:', l)

# Append the element 7 to the list
l.append(7)

# Print the list after appending the element
print('after append an element:', l)

before append an element : [1, 3, 4, 5, 6]
after append an element : [1, 3, 4, 5, 6, 7]

4. Insert an element at a specific index in a list.

In [60]:
# Create a list with initial elements
l = [1, 3, 4, 5, 6]

# Print the list before inserting an element
print('before insert an element:', l)

# Insert the element 2 at the second position in the list
l.insert(1, 2)

# Print the list after inserting the element
print('after insert an element:', l)

before insert an element : [1, 3, 4, 5, 6]
after insert an element : [1, 2, 3, 4, 5, 6]

5. Remove an element from a list by its value.

In [61]:
# Create a list with initial elements
l = [1, 3, 4, 5, 6]

# Print the list before removing an element
print('before remove an element:', l)

# Remove the element 3 from the list using the remove method
l.remove(3)

# Print the list after removing the element
print('after remove an element:', l)

before remove an element : [1, 3, 4, 5, 6]
after remove an element : [1, 4, 5, 6]

6. Remove an element from a list by its index.

In [62]:
# Create a list with initial elements
l = [1, 3, 4, 5, 6]

# Print the list before removing an element
print('before remove an element:', l)

# Remove the element at the specified index 2 from the list using the pop method
l.pop(2)

# Print the list after removing the element
print('after remove an element:', l)

before remove an element : [1, 3, 4, 5, 6]
after remove an element : [1, 3, 5, 6]

7. Check if an element exists in a list.

In [115]:
def check_element_in_list(l, e):
    # Print the input list
    print('list :', l)
    
    # Print the input element
    print('element :', e)
    
    # Check if the element exists in the list
    if e in l:
        print('Yes, the element exists in the list')
    else:
        print("No, the element doesn't exist in the list")

# Define a list and an element to check
l = [1, 2, 3, 4, 6, 7, 8]
e = 3

# Call the function with the list and element and print the result
check_element_in_list(l, e)

list : [1, 2, 3, 4, 6, 7, 8]
element : 3
Yes, the element exists in the list

8. Find the index of the first occurrence of an element in a list.

In [64]:
# Define a list with some elements
my_list = [1, 2, 3, 4, 5, 6, 4, 3, 6, 5, 2, 8, 9, 10, 15, 1]

# Find the index of the first occurrence of the element 4 in the list
index = my_list.index(4)

# Print the index of the element 4 in the list
print(f'index of 4 in the list is {index}')

index of 4 in the list is 3

9. Count the occurrences of an element in a list.

In [116]:
# Define a list with some elements
my_list = [1, 2, 3, 4, 5, 6, 4, 3, 6, 5, 2, 8, 9, 10, 15, 1, 4]

# Define the element to count its occurrences in the list
element = 1

# Count the number of occurrences of the element in the list using the count method
element_cnt = my_list.count(element)

# Print the count of occurrences of the element in the list
print(f'count of {element} occurrences in the list:', element_cnt)

count of 1 occurrences in the list: 2

10. Reverse the order of elements in a list.

In [66]:
# Define a list with some elements
my_list = [1, 2, 3, 4, 5, 6, 4, 3, 6, 5, 2, 8, 9, 10, 15, 1, 4]

# Create a reversed version of the list using slicing
rev_my_list = my_list[::-1]

# Print the original list
print('list:', my_list)

# Print the reversed list
print('reverse the list:', rev_my_list)

list : [1, 2, 3, 4, 5, 6, 4, 3, 6, 5, 2, 8, 9, 10, 15, 1, 4]
reverse the list : [4, 1, 15, 10, 9, 8, 2, 5, 6, 3, 4, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [117]:
# Define a list with some elements
my_list = [1, 4, 2, 6, 5, 8, 9, 2, 4, 5, 9, 10]

# Print the list before sorting
print('before sorting:', my_list)

# Sort the list in ascending order using the sort method
my_list.sort()

# Print the list after sorting
print('after sorting:', my_list)

before sorting: [1, 4, 2, 6, 5, 8, 9, 2, 4, 5, 9, 10]
after sorting: [1, 2, 2, 4, 4, 5, 5, 6, 8, 9, 9, 10]

12. Sort a list in descending order

In [255]:
# Define a list with some elements
my_list = [1, 4, 2, 6, 5, 8, 9, 2, 4, 5, 9, 10]

# Print the list before sorting
print('before sorting:', my_list)

# Sort the list in descending order using the sort method with reverse=True argument
my_list.sort(reverse=True)

# Print the list after sorting
print('after sorting:', my_list)

before sorting: [1, 4, 2, 6, 5, 8, 9, 2, 4, 5, 9, 10]
after sorting: [10, 9, 9, 8, 6, 5, 5, 4, 4, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [69]:
# Initialize an empty list to store even numbers
even_num = []

# Iterate through numbers from 1 to 20 (inclusive)
for i in range(1, 21):
    # Check if the number is even
    if i % 2 == 0:
        # Append the even number to the list
        even_num.append(i)

# Print the list of even numbers
print('list of even numbers:', even_num)

list of even numbers : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [70]:
# Initialize an empty list to store odd numbers
odd_num = []

# Iterate through numbers from 1 to 20 (inclusive)
for i in range(1, 21):
    # Check if the number is odd
    if i % 2 != 0:
        # Append the odd number to the list
        odd_num.append(i)

# Print the list of odd numbers
print('list of odd numbers:', odd_num)

list of even numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [71]:
# Define a list of numbers
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Calculate the sum of all elements in the list using the sum function
list_sum = sum(my_list)

# Print the sum of the elements in the list
print(list_sum)

110

16. Find the maximum value in a list.

In [119]:
# Define a list of numbers
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Find the maximum value in the list using the max function
max_value = max(my_list)

# Print the maximum value in the list
print(max_value)

20

17. Find the minimum value in a list.

In [73]:
# Define a list of numbers
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Find the minimum value in the list using the min function
min_value = min(my_list)

# Print the minimum value in the list
print(min_value)

2

18. Create a list of squares of numbers from 1 to 10.

In [74]:
# Initialize an empty list
l = []

# Iterate through numbers from 1 to 10 (inclusive) and append their squares to the list
for i in range(1, 11):
    l.append(i**2)

# Print the list of squares
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.
sources:
1. https://www.geeksforgeeks.org/generating-random-number-list-in-python/
2. https://www.tutorialspoint.com/generating-random-number-list-in-python
3. https://www.techbeamers.com/python-generate-random-numbers-list/

In [75]:
# Import the random module
import random

# Initialize an empty list
rand_list = []

# Iterate through numbers from 1 to 10 (inclusive) and append random integers to the list
for i in range(1, 11):
    rand_list.append(random.randint(0, i * 25))

# Print the list of random integers
print('random list:', rand_list)

random list : [8, 11, 13, 62, 52, 21, 41, 88, 138, 119]

20. Remove duplicates from a list.

In [76]:
# Import the random module
import random

# Initialize an empty list for holding duplicate elements
dup_ele_list = []

# Generate a list with random integers, some of which may be duplicates
for i in range(1, 11):
    dup_ele_list.append(random.randint(0, i))

# Print the list containing duplicate elements
print('list with duplicate elements:', dup_ele_list)

# Initialize an empty list for holding unique elements
uni_ele_lis = []

# Iterate through elements in the list and add them to the unique list if they are not already present
for i in dup_ele_list:
    if i not in uni_ele_lis:
        uni_ele_lis.append(i)

# Print the list after removing duplicate elements
print('list after removing duplicates:', uni_ele_lis)

list with duplicate elements : [1, 2, 0, 4, 2, 3, 2, 4, 3, 0]
list after removing duplicates : [1, 2, 0, 4, 3]

21. Find the common elements between two lists.

In [120]:
# Define the first list
l1 = [10, 20, 30, 40, 50]

# Define the second list
l2 = [20, 40, 60, 80, 70]

# Print the first list
print('list 1:', l1)

# Print the second list
print('list 2:', l2)

# Find the common elements between the two lists using the intersection of sets
comm_elements = set(l1).intersection(set(l2))

# Convert the set of common elements back to a list and print it
print(list(comm_elements))

list 1: [10, 20, 30, 40, 50]
list 2: [20, 40, 60, 80, 70]
[40, 20]

22. Find the difference between two lists.

In [121]:
# Define the first list
l1 = [10, 20, 30, 40, 50]

# Define the second list
l2 = [20, 40, 60, 80, 70]

# Print the first list
print('list 1:', l1)

# Print the second list
print('list 2:', l2)

# Find the elements that are in the first list but not in the second list using the difference of sets
diff_elements = list(set(l1).difference(set(l2)))

# Print the list of elements that are in the first list but not in the second list
print(diff_elements)

list 1: [10, 20, 30, 40, 50]
list 2: [20, 40, 60, 80, 70]
[10, 50, 30]

23. Merge two lists.

In [122]:
# Define the first list
l1 = [10, 20, 30, 40, 50]

# Define the second list
l2 = [20, 40, 60, 80, 70]

# Print the first list
print('list 1:', l1)

# Print the second list
print('list 2:', l2)

# Concatenate the two lists using the + operator
fl = l1 + l2

# Print the resulting concatenated list
print(fl)

list 1: [10, 20, 30, 40, 50]
list 2: [20, 40, 60, 80, 70]
[10, 20, 30, 40, 50, 20, 40, 60, 80, 70]

24. Multiply all elements in a list by 2.

In [80]:
# Define the list
l1 = [10, 20, 30, 40, 50]

# Using list comprehension to create a new list with each element in l1 multiplied by 2
fl = [i * 2 for i in l1]

# Print the resulting list
print(fl)

[20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [81]:
# Define the list
l1 = [10, 15, 20, 27, 30, 33, 40, 50]

# Using list comprehension to filter elements that are not divisible by 2 (i.e., odd numbers)
fl = [i for i in l1 if i % 2 != 0]

# Print the resulting list
print(fl)

[15, 27, 33]

26. Convert a list of strings to a list of integers.

In [123]:
# Define a list of strings
str_list = ['10', '20', '30', '50', '70']

# Print the string list
print('string list:', str_list)

# Print the data type of the elements in str_list
print('data type of str_list:', type(str_list[0]))

# Convert the elements in str_list to integers using list comprehension
int_list = [int(i) for i in str_list]

# Print the resulting list of integers
print('integer list:', int_list)

# Print the data type of the elements in int_list
print('data type of int_list:', type(int_list[0]))

string list: ['10', '20', '30', '50', '70']
data type of str_list: <class 'str'>
integer list: [10, 20, 30, 50, 70]
data type of int_list: <class 'int'>

27. Convert a list of integers to a list of strings.

In [124]:
# Define a list of integers
int_list = [10, 20, 30, 50, 70]

# Print the list of integers
print('integer list:', int_list)

# Print the data type of the elements in int_list
print('data type of int_list:', type(int_list[0]))

# Convert the elements in int_list to strings using list comprehension
str_list = [str(i) for i in int_list]

# Print the resulting list of strings
print('string list:', str_list)

# Print the data type of the elements in str_list
print('data type of str_list:', type(str_list[0]))

integer list: [10, 20, 30, 50, 70]
data type of int_list: <class 'int'>
string list: ['10', '20', '30', '50', '70']
data type of str_list: <class 'str'>

28. Flatten a nested list.
sources:
1. https://www.geeksforgeeks.org/python-convert-a-nested-list-into-a-flat-list/

In [125]:
# Define a nested list
nest_list = [1, 2, [3, 4, [5, 6]], 7, 8, [9, [10]]]

# Initialize an empty list to store the flattened elements
flat_list = list()

# Define a function to flatten a nested list
def flatten_list(nested_list):
    for i in nested_list:
        if type(i) == list:
            flatten_list(i)  # Recursively call flatten_list if an element is a list
        else:
            flat_list.append(i)  # Append the element to flat_list if it's not a list

# Call the flatten_list function with the given nested list
flatten_list(nested_list=nest_list)

# Print the flattened list
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.
Sources:
1. https://www.geeksforgeeks.org/python-program-to-print-the-fibonacci-sequence/
2. https://www.techtarget.com/whatis/definition/Fibonacci-sequence#:~:text=The%20sequence%20follows%20the%20rule,adheres%20to%20the%20prescribed%20formula.

In [85]:
# Initialize an empty list to store the Fibonacci numbers
fibonacci_num_list = list()

# Calculate the Fibonacci numbers using a loop
for i in range(0, 20):
    if i == 0:
        fibonacci_num_list.append(0)  # Append 0 for the first Fibonacci number
    elif 1 <= i <= 2:
        fibonacci_num_list.append(1)  # Append 1 for the second and third Fibonacci numbers
    else:
        # Append the sum of the last two elements for subsequent Fibonacci numbers
        fibonacci_num_list.append(fibonacci_num_list[-1] + fibonacci_num_list[-2])

# Print the list of Fibonacci numbers
print(fibonacci_num_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

30. Check if a list is sorted.

In [86]:
def check_list_sorted(in_list, sort_type):
    # Initialize an empty string for the message
    message = ''
    
    # Check if the sort_type is 'asc' for ascending order
    if sort_type.lower() == 'asc':
        for i in range(1, len(in_list)):
            if in_list[i] >= in_list[i - 1]:
                message = 'Yes, the list is sorted in ascending'
            else:
                message = 'No, the list is not sorted in ascending'
                break
    else:
        # Check for descending order
        for i in range(1, len(in_list)):
            if in_list[i] <= in_list[i - 1]:
                message = 'Yes, the list is sorted in descending'
            else:
                message = 'No, the list is not sorted in descending'
                break
    return message

# Test the function with ascending and descending lists
print('ascending order check:', check_list_sorted([10, 20, 25, 40], 'asc'))
print('descending order check:', check_list_sorted([40, 30, 25, 15], 'desc'))

ascending order check : Yes, the list is sorted in ascending
descending order check : Yes, the list is sorted in descending

31. Rotate a list to the left by `n` positions
Sources:
1. https://www.geeksforgeeks.org/python-ways-to-rotate-a-list/

In [87]:
def rotate_list_left(in_list, n):
    # Print the input list and the number of positions to shift
    print('input list:', in_list)
    print(f'element position shifted by {n}')

    # Rotate the list elements to the left 'n' times
    for i in range(n):
        in_list.append(in_list.pop(0))

    # Print the resulting list after rotation
    print('output list:', in_list)

# Define a list 'l' and the number of positions to shift 's'
l = [10, 30, 20, 35, 25]
s = 2

# Call the function to rotate the list left by 's' positions
rotate_list_left(l, s)

input list : [10, 30, 20, 35, 25]
element position shifted by 2
output list : [20, 35, 25, 10, 30]

32. Rotate a list to the right by `n` positions.
Sources:
1. https://www.geeksforgeeks.org/python-ways-to-rotate-a-list/

In [88]:
def rotate_list_right(in_list, n):
    # Print the input list and the number of positions to shift
    print('input list:', in_list)
    print(f'element position shifted by {n}')

    # Rotate the list elements to the right 'n' times
    for i in range(n):
        p = in_list.pop(-1)
        in_list.insert(0, p)

    # Print the resulting list after rotation
    print('output list:', in_list)

# Define a list 'l' and the number of positions to shift 's'
l = [10, 30, 20, 35, 25]
s = 2

# Call the function to rotate the list right by 's' positions
rotate_list_right(l, s)

input list : [10, 30, 20, 35, 25]
element position shifted by 2
output list : [35, 25, 10, 30, 20]

33. Create a list of prime numbers up to 50.

In [126]:
def prim_num_list(num):
    # Create a list from 1 to 'num'
    list_num = list(range(1, num + 1))

    # Initialize lists for non-prime and prime numbers
    non_prim_num = list()
    prim_num = list()

    # Find non-prime numbers
    for i in range(2, 10):
        for k in range(4, num + 1):
            if k != i and k % i == 0:
                non_prim_num.append(k)

    # Calculate the prime numbers
    prim_num = list(set(list_num).difference(set(non_prim_num)))
    prim_num.sort(reverse=False)

    # Return the list of prime numbers
    return prim_num

# Call the function with an argument '50' to get the list of prime numbers
prim_num_list(50)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.
Sources:
1. https://www.geeksforgeeks.org/break-list-chunks-size-n-python/

In [127]:
def split_lst_chunk(lst, n):
    # Initialize an empty list for the output chunks
    output_lst = list()

    # Split the list 'lst' into chunks of size 'n' and append them to the output list
    for i in range(0, len(lst), n):
        output_lst.append(lst[i:i + n])

    # Return the output list containing chunks of 'n' elements from 'lst'
    return output_lst

# Call the function with a sample list and chunk size
split_lst_chunk([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 4)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14]]

35. Find the second largest number in a list

In [91]:
def largest_num(lst, n):
    # Sort the list in descending order
    lst.sort(reverse=True)
    
    # Print the input list
    print('input list:', lst)
    
    # Get the nth largest value in the list
    nth_val = lst[n - 1]
    
    # Return the nth largest value in the list
    return f'{n} largest value in the list will be:', nth_val

# Call the function with a list and the desired value of 'n'
largest_num([25, 45, 78, 65, 50], 1)

input list : [78, 65, 50, 45, 25]

('1 lasrget value in the list will be :', 78)

36. Replace every element in a list with its square.

In [93]:
lst = [1, 2, 3, 4, 5, 6]

# Square each element in the list
for i in range(0, len(lst)):
    lst[i] = lst[i] ** 2

# Alternative approach using list comprehension:
# squ_lst = [i**2 for i in lst]
# print(squ_lst)

# Print the updated list
print(lst)

[1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [103]:
lst = [1, 2, 3, 4, 5]

# Convert list to dictionary
def lst_to_dict(lst):
    # Print the input list
    print('input list:', lst)

    # Initialize an empty dictionary
    out_dict = dict()

    # Iterate through the list and add elements as keys and their indices as values in the dictionary
    for i in range(0, len(lst)):
        out_dict[lst[i]] = i

    # Print the resulting dictionary
    print(out_dict)

# Alternatively, the same task can be accomplished using a dictionary comprehension
# my_dict = {v: i for i, v in enumerate(lst)}
# print(my_dict)

# Call the function with the sample list
lst_to_dict(lst)

input list : [1, 2, 3, 4, 5]
{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}
{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

38. Shuffle the elements of a list randomly.
Sources:
1. https://www.w3schools.com/python/ref_random_shuffle.asp

In [111]:
import random

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Print the original list before shuffling
print('input list (before shuffle):', lst)

# Shuffle the list in place
random.shuffle(lst)

# Print the shuffled list
print('output list (after shuffle):', lst)

input list (before shuffle) : [1, 2, 3, 4, 5, 6, 7, 8, 9]
output list (after shuffle) : [4, 5, 3, 1, 8, 7, 2, 9, 6]

39. Create a list of the first 10 factorial numbers.

In [131]:
def fact_num(n):
    # Initialize an empty list to store factorial values
    fact_val = []

    # Loop through numbers from 1 to n (inclusive) and calculate their factorial values
    for i in range(1, n + 1):
        x = 1
        for k in range(1, i + 1):
            x *= k
        fact_val.append((i, x))  # Append the tuple (number, factorial value) to the list

    # Return the list of tuples containing the numbers and their respective factorial values
    return fact_val

# Call the function with the argument 10 and print the result
print(fact_num(10))

[(1, 1),
 (2, 2),
 (3, 6),
 (4, 24),
 (5, 120),
 (6, 720),
 (7, 5040),
 (8, 40320),
 (9, 362880),
 (10, 3628800)]

40. Check if two lists have at least one element in common.

In [128]:
def check_comm_element(l1, l2):
    # Iterate through elements in the second list
    for i in l2:
        # Check if the element exists in the first list
        if i in l1:
            # If a common element is found, print the message and break the loop
            print('Yes, two lists have common elements')
            break
    else:
        # If no common element is found after the loop, print the message indicating the absence of common elements
        print("No, two lists don't have common elements")

# Define the lists l1 and l2
l1 = [0, 30, 45, 50, 60]
l2 = [10, 20, 40, 70]

# Call the function to check for common elements in the lists l1 and l2
check_comm_element(l1, l2)

No, two lists don't have common elements

41. Remove all elements from a list.

In [134]:
lst = [1, 2, 3, 4, 5, 6, 7]

# Print the input list
print('input list:', lst)

# Clear the list
lst.clear()

# Print the output list after clearing it
print('output list:', lst)

input list : [1, 2, 3, 4, 5, 6, 7]
output list : []

42. Replace negative numbers in a list with 0.

In [148]:
def replace_negative_num(lst):
    # Print the input list
    print('input list:', lst)

    # Iterate through the list elements
    for i in range(len(lst)):
        # If the element is less than 0, replace it with 0
        if lst[i] < 0:
            lst[i] = 0

    # Print the output list after replacing negative numbers with 0
    print('output list:', lst)

# Define the list 'lst'
lst = [-1, -10, 2, 3, 0, 30, -26]

# Call the function 'replace_negative_num' with the list 'lst'
replace_negative_num(lst)

input list : [-1, -10, 2, 3, 0, 30, -26]
output list: [0, 0, 2, 3, 0, 30, 0]

43. Convert a string into a list of words.

In [151]:
def str_to_list_words(s):
    # Split the string into words
    w = s.split()
    # Print the input string
    print('input string:', s)
    # Print the list of words derived from the string
    print('output list of words:', w)

# Call the function 'str_to_list_words' with the input string
str_to_list_words('convert a string into a list of words')

input string: convert a string into a list of words
output list of words : ['convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [163]:
def list_word_to_str(l):
    # Print the input list
    print('input list:', l)
    s = ''
    # Iterate through the elements of the list
    for i in l:
        # Concatenate each element to the string 's' with a space
        s += ' ' + i
    # Print the output string created from the list
    print('output string:', s)

# Define the list 'lw'
lw = ['Convert', 'a', 'list', 'of', 'words', 'into', 'a', 'string']

# Call the function 'list_word_to_str' with the list 'lw'
list_word_to_str(l=lw)

# An alternate method to achieve the same result using the 'join' method
# print(' '.join(lw))

input list: ['Convert', 'a', 'list', 'of', 'words', 'into', 'a', 'string']
output string :  Convert a list of words into a string

45. Create a list of the first `n` powers of 2.

In [171]:
n = 7

# Generating a list of squares of numbers from 1 to n
lst = [i ** 2 for i in range(1, n + 1)]

# Printing the list of squares
print(f'power of first {n} numbers list:', lst)

power of first 7 numbers list : [1, 4, 9, 16, 25, 36, 49]

46. Find the longest string in a list of strings.

In [129]:
l = ['find', 'the', 'longest', 'string', 'in', 'a', 'list', 'of', 'strings']

# Initialize the variable 'long_str' to store the longest string
long_str = ''

# Iterate through the elements in the list 'l'
for i in l:
    
    # Check if the length of the current element is greater than the length of 'long_str'
    if len(i) > len(long_str):
        
        # Update 'long_str' if the condition is satisfied
        long_str = i

# Print the longest string in the list 'l'
print(long_str)

longest

47. Find the shortest string in a list of strings.

In [131]:
l = ['find', 'the', 'longest', 'string', 'in', 'a', 'list', 'of', 'strings']
# Set the initial longest string as the first element in the list
long_str = l[0]
# Iterate through the elements in the list 'l'
for i in l:
    # Check if the length of the current element is greater than the length of 'long_str'
    if len(i) < len(long_str):
        # Update 'long_str' if the condition is satisfied
        long_str = i

# Print the shortest string in the list 'l'
print(long_str)

a

48. Create a list of the first `n` triangular numbers.

In [197]:
n = 8
triangular_num = []

# Generating the triangular numbers up to n
for i in range(1, n+1):
     triangular_num.append(int((i**2 + i) / 2))

# Alternative method using list comprehension:
# triangular_num1 = [int((i**2 + i) / 2) for i in range(1, n+1)]

# Printing the list of triangular numbers
print(f'first {n} list of triangular numbers:', triangular_num)
# print(f'first {n} list of triangular numbers:', triangular_num1)

first 8 list of triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36]

49. Check if a list contains another list as a subsequence.
sources:
    1. https://www.geeksforgeeks.org/python-check-if-one-list-is-subset-of-other/

In [214]:
def is_subsequence(lst, sub_lst):
    # Count the number of elements in the subsequence list
    cnt_sub_lst = len(sub_lst)
    
    # Initialize counter for elements found in the main list
    sub_lst_counter = 0
    
    # Iterate through elements in the subsequence list
    for i in sub_lst:
        # Check if the element exists in the main list and increment the counter
        if i in lst:
            sub_lst_counter += 1
            
    # Check if the count of elements in the subsequence list is equal to the counter
    return cnt_sub_lst == sub_lst_counter
    
# Define the main list and the subsequence list
lst = [2, 3, 4, 5, 6, 7, 9]
sub_lst = [4, 6, 7, 1]
    
# Check if the subsequence list is a subsequence of the main list
result = is_subsequence(lst, sub_lst)

# Print the result based on whether the subsequence list is a subsequence of the main list
if result:
    print(f'{sub_lst} is a subsequence of {lst}.')
else:
    print(f'{sub_lst} is not a subsequence of {lst}.')

[4, 6, 7, 1] is not a subsequence of [2, 3, 4, 5, 6, 7, 9].

50. Swap two elements in a list by their indices.

In [226]:
def swap_elements(lst, i1, i2):
    # Print the input list before the swap
    print('Input list:', lst)
      
    # Swap the elements at the given indices
    lst[i1], lst[i2] = lst[i2], lst[i1]
    
    # Print the output list after the swap
    print('Output list:', lst)
    
# Define the list and the indices for swapping
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
i1 = 3
i2 = 7

# Call the function to swap elements and print the input and output lists
swap_elements(lst, i1, i2)

Input list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Output list: [1, 2, 3, 8, 5, 6, 7, 4, 9]

### Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [203]:
# Create a tuple with integers from 1 to 5
my_tuple = (1,2,3,4,5)

# Print the data from tuple
print('Tuple :', my_tuple)

# Find the data type of tuple
print('Type :', type(my_tuple))

Tuple : (1, 2, 3, 4, 5)
Type : <class 'tuple'>

2. Access the third element of a tuple.

In [206]:
# Create a tuple
my_tuple = (1,2,3,4,5,6,7)
print('Tuple :', my_tuple)

# Select third element of the tuple
third_element =  my_tuple[2]
print('Third element in the tuple :', third_element )

Tuple : (1, 2, 3, 4, 5, 6, 7)
Third element in the tuple : 3

3. Find the length of a tuple without using the `len()` function.

In [211]:
# Create a tuple with integer values
my_tuple = (1,2,3,4,5,6,7,8,9,10,11,12)
print('Input Tuple :', my_tuple)

# Create a variable to store count
len_tuple = 0

# Iterate through each element in the tuple 
for i in my_tuple:
    # Increment by 1 
    len_tuple += 1

# Print the count of elements of tuple
print('Length of the tuple :',len_tuple)

Input Tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
Length of the tuple : 12

4. Count the occurrences of an element in a tuple.

In [218]:
# Create a tuple with duplicate values
my_tuple = (1,3,2,4,6,5,7,8,3,4,6,7,9,3)
print('Input tuple :', my_tuple)

# User enter the number to find numer of times it occur in the tuple
input_element = int(input('enter a number to find the number of times occur :'))

# Count the number of times element occured
cnt_element = my_tuple.count(input_element)

# Print the 
print(f'Number of times {input_element} occur in the tuple :', cnt_element )

Input tuple : (1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3)
enter a number :7
Number of times 7 occurreneces in the tuple : 2

5. Find the index of the first occurrence of an element in a tuple.

In [224]:
my_tuple = (1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3)

# Allowing the user to input a number to find its occurrences in the tuple
input_element = int(input('Enter a number to find the number of times it occurs: '))

# Finding the index of the first occurrence of the input element in the tuple
first_occurrence = my_tuple.index(input_element)

# Printing the first occurrence of the input element in the tuple
print(f'First occurrence of {input_element} in the tuple:', first_occurrence)

enter a number to find the number of times occur :6
first occurrence of 6 in tuple : 4

6. Check if an element exists in a tuple.

In [229]:
my_tuple = (1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3)

# Allowing the user to input a number to check if it exists in the tuple
input_element = int(input('Enter a number to check if an element exists in the tuple or not: '))

# Counting the occurrences of the input element in the tuple
element_is_exists = my_tuple.count(input_element)

# Checking if the element exists in the tuple and printing the result
if element_is_exists >= 1:
    print(f'Element {input_element} exists in the tuple.')
else:
    print(f'Element {input_element} does not exist in the tuple.')

enter a number to check if an element exists in a tuple or not : 6
element 6 exists in the tuple

7. Convert a tuple to a list.

In [232]:
# Given tuple
my_tuple = (1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3)

# Converting the tuple to a list
my_lst = list(my_tuple)

# Printing the list
print(my_lst)

[1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3]

8. Convert a list to a tuple.

In [234]:
# Given list
my_lst = [1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3]

# Converting the list to a tuple
my_tuple = tuple(my_lst)

# Printing the tuple
print(my_tuple)

(1, 3, 2, 4, 6, 5, 7, 8, 3, 4, 6, 7, 9, 3)

9. Unpack the elements of a tuple into variables.

In [238]:
# Given tuple
my_tuple = (1, 2, 4, 5, 6, 7, 8)

# Unpacking the tuple into separate variables
var1, var2, var3, var4, var5, var6, var7 = my_tuple

# Printing each variable
print('var1 :', var1)
print('var2 :', var2)
print('var3 :', var3)
print('var4 :', var4)
print('var5 :', var5)
print('var6 :', var6)
print('var7 :', var7)

var1 : 1
var2 : 2
var3 : 4
var4 : 5
var5 : 6
var6 : 7
var7 : 8

10. Create a tuple of even numbers from 1 to 10.

In [244]:
# Range of even numbers
even_num_range = range(2, 11, 2) 

# Converting the range into a tuple
even_num_tuple = tuple(even_num_range)

# Printing the tuple of even numbers
print('Tuple with even numbers :', even_num_tuple)

Tuple with even numbers : (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [245]:
# Range of odd numbers
odd_num_range = range(1, 10, 2) 

# Converting the range into a tuple
odd_num_tuple = tuple(odd_num_range)

# Printing the tuple of odd numbers
print('Tuple with even numbers :', odd_num_tuple)

Tuple with even numbers : (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [252]:
# First tuple
my_tup1 = (1, 2, 3, 4, 5, 7)

# Second tuple
my_tup2 = (6, 8 , 9, 2, 4)

# Concatenating the two tuples
final_tuple = my_tup1 + my_tup2

# Printing the concatenated tuple
print('my_tup1 + my_tup2 :', final_tuple)

my_tup1 + my_tup2 : (1, 2, 3, 4, 5, 7, 6, 8, 9, 2, 4)

13. Repeat a tuple three times.

In [258]:
# Given tuple
my_tuple = (1, 3, 5, 7, 6, 4)

# Taking user input
x = int(input('Enter a number: '))

# Repeating the tuple by the given number
repeat_my_tuple = my_tuple * x

# Printing the repeated tuple
print(f'Repeat tuple by {x}', repeat_my_tuple)

enter a number :3
Repeat tuple by 3 (1, 2, 4, 5, 6, 7, 8, 1, 2, 4, 5, 6, 7, 8, 1, 2, 4, 5, 6, 7, 8)

14. Check if a tuple is empty.

In [266]:
# Given empty tuple
my_tuple = ()

# Getting the length of the tuple
len_my_tuple = len(my_tuple)

# Checking if the tuple is empty or not
if len_my_tuple == 0:
    print('Yes, tuple is empty')
else:
    print('No, tuple is not empty')

Yes, tuple is empty

15. Create a nested tuple.

In [269]:
# Given nested tuple
my_tuple = (1,2,3,(1,2,3,(1,2,3)))

# Printing the nested tuple
print('nested tuple :', my_tuple)

nested tuple : (1, 2, 3, (1, 2, 3, (1, 2, 3)))

16. Access the first element of a nested tuple.

In [272]:
# Given nested tuple
my_tuple = ((1,2),(3,4),(4,5))

# Accessing the first element of the nested tuple
first_element =  my_tuple[0][0]

# Printing the first element
print('first element of a nested tuple :', first_element)

first element of a nested tuple : 1

17. Create a tuple with a single element.

In [274]:
# Given single element tuple
my_tuple = (1,)

# Getting the length of the tuple
len_tuple = len(my_tuple)

# Printing the single element tuple and its length
print('single element tuple :', my_tuple)
print('length of element :', len_tuple)

single element tuple : (1,)
length of element : 1

18. Compare two tuples.
sources:
1. https://www.geeksforgeeks.org/python-compare-tuples/?ref=gcse

In [280]:
# Given two tuples
my_tup1 = (1, 3, 5)
my_tup2 = (2, 4, 6)

# Comparing if the tuples are equal
if my_tup1 == my_tup2:
    print('Both the tuples are the same')
    
# If the tuples are not equal
elif my_tup1 != my_tup2:
    print('Both the tuples are not the same')

# Comparing if the elements in tuple 1 are greater than tuple 2
if my_tup1 > my_tup2:
    print('All elements in tuple 1 are greater than tuple 2')
    
# If the elements in tuple 1 are less than tuple 2
elif my_tup1 < my_tup2:
    print('All elements in tuple 1 are less than tuple 2')

Both the tuples are not same
all elements in tuple 1 is less than tuple 2

19. Delete a tuple.

In [132]:
# Given a tuple
my_tuple = (1, 2, 3, 4, 5, 8)

# Deleting the tuple
del my_tuple

# Trying to access the deleted tuple
print('Deleted a tuple:', my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [291]:
# Given a tuple
my_tuple = (1, 3, 5, 6, 4)

# Accessing the first element
print('first element:', my_tuple[0])

# Accessing the second element
print('second element:', my_tuple[1])

# Accessing the last element
print('last element:', my_tuple[-1])

first element : 1
second element : 3
last element : 4

21. Find the maximum value in a tuple.

In [294]:
# Given a tuple
my_tuple = (10, 20, 30, 40, 50)

# Finding the maximum value in the tuple
max_value = max(my_tuple)

# Printing the maximum value
print('max value in tuple:', max_value)

max value in tuple : 50

22. Find the minimum value in a tuple.

In [296]:
# Define a tuple
my_tuple = (10, 20, 30, 40, 50)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the minimum value found in the tuple
print('The minimum value in the tuple is:', min_value)

min value in tuple : 10

23. Convert a string to a tuple of characters.

In [227]:
# Get input from the user
string = input('Enter a string: ')

# Convert the string to a tuple
str_tuple = tuple(string)

# Print the converted tuple
print('String converted to tuple:', str_tuple)

Enter a string: Convert a string to a tuple of characters
String converted to tuple: ('C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's')

24. Convert a tuple of characters to a string.

In [228]:
# Define a tuple of characters
my_tuple = ('s', 'h', 'a', 'i', 'k', ' ', 'k', 'h', 'a', 'd', 'a', 'r', ' ', 'b', 'a', 's', 'h', 'a')

# Convert the tuple of characters to a string
my_str = ''.join(my_tuple)

# Print the resulting string
print('Tuple of characters converted to a string:', my_str)

Tuple of characters converted to a string: shaik khadar basha

25. Create a tuple from multiple data types.

In [229]:
# Define a tuple with different data types
my_tuple = (1, 'a', [1,2,3], 3.14, 1+5j)

# Print the value and data type of the first element
print('Value and data type of the first element:', my_tuple[0], ',', type(my_tuple[0]))

# Print the value and data type of the second element
print('Value and data type of the second element:', my_tuple[1], ',', type(my_tuple[1]))

# Print the value and data type of the third element
print('Value and data type of the third element:', my_tuple[2], ',', type(my_tuple[2]))

# Print the value and data type of the fourth element
print('Value and data type of the fourth element:', my_tuple[3], ',', type(my_tuple[3]))

# Print the value and data type of the fifth element
print('Value and data type of the fifth element:', my_tuple[4], ',', type(my_tuple[4]))

Value and data type of the first element: 1 , <class 'int'>
Value and data type of the second element: a , <class 'str'>
Value and data type of the third element: [1, 2, 3] , <class 'list'>
Value and data type of the fourth element: 3.14 , <class 'float'>
Value and data type of the fifth element: (1+5j) , <class 'complex'>

26. Check if two tuples are identical.

In [230]:
# Define two tuples with the same elements
my_tup1 = (1, 2, 3)
my_tup2 = (1, 2, 3)

# Check if the two tuples are identical
if my_tup1 == my_tup2:
    print('Tuple 1 and Tuple 2 are identical')
else:
    print('Tuple 1 and Tuple 2 are not identical')

Tuple 1 and Tuple 2 are identical

27. Sort the elements of a tuple.
sources:
1. https://www.geeksforgeeks.org/python-sort-lists-in-tuple/?ref=gcse

In [231]:
# Define a tuple with integer elements
my_tuple = (10, 30, 15, 25, 45, 35)

# Print the original tuple
print('Input tuple:', my_tuple)

# Sort the elements of the tuple and convert it back to a tuple
my_tuple = tuple(sorted(my_tuple))

# Print the sorted tuple
print('Sorted elements of the tuple:', my_tuple)

Input tuple: (10, 30, 15, 25, 45, 35)
Sorted elements of the tuple: (10, 15, 25, 30, 35, 45)

28. Convert a tuple of integers to a tuple of strings.
sources:
1. https://www.geeksforgeeks.org/python-convert-tuple-string-to-integer-tuple/?ref=gcse

In [332]:
# Define a tuple of integers
my_tuple = (1, 2, 3, 4, 6, 8, 7, 9)

# Convert each element of the tuple to a string and create a new tuple
str_my_tuple = tuple([str(i) for i in my_tuple])

# Print the tuple where the integers have been converted to strings
print('Tuple of integers converted to strings:', str_my_tuple)

Tuple of integers to string : ('1', '2', '3', '4', '6', '8', '7', '9')

29. Convert a tuple of strings to a tuple of integers.

In [232]:
# Define a tuple of strings representing integers
my_tuple = ('1', '2', '3', '4', '6', '8', '7', '9')

# Convert each element of the tuple to an integer and create a new tuple
int_my_tuple = tuple([int(i) for i in my_tuple])

# Print the tuple where the strings have been converted to integers
print('Tuple of strings converted to integers:', int_my_tuple)

Tuple of strings converted to integers: (1, 2, 3, 4, 6, 8, 7, 9)

30. Merge two tuples.

In [335]:
# Define two tuples
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

# Concatenate the two tuples
my_tuple = tup1 + tup2

# Print the concatenated tuple
print(f'Concatenation of {tup1} and {tup2}:', my_tuple)

(1, 2, 3) + (4, 5, 6) : (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.
sources:
1. https://www.geeksforgeeks.org/python-flatten-nested-tuples/

In [233]:
# Initialize an empty list
lst = list()

# Define a function to flatten a tuple
def flatten_tuple(t):
    for i in t:
        if type(i) == tuple:
            flatten_tuple(i)
        else:
            lst.append(i)
    return tuple(lst)
 
# Define the tuple to be flattened
t = ((1, 2, 3), (4, 5), (6, 7))

# Call the function to flatten the tuple and print the result
result = flatten_tuple(t)
print(result)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [271]:
def first_n_prime(n):
    primes = []
    num = 2
    while len(primes) < n:
        if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):
            primes.append(num)
        num += 1
    return primes

# Get user input for the number of primes to find
n = int(input('Enter the number: '))
result = first_n_prime(n)
print(f"The first {n} prime numbers are: {result}")

Enter the number :25
(1, 2, 3, 5, 517, 7, 521, 11, 523, 13, 527, 17, 529, 19, 533, 23, 29, 541, 31, 547, 37, 551, 41, 43, 557)

33. Check if a tuple is a palindrome.

In [234]:
def is_tuple_palindrome(input_tuple):
    # Convert the input tuple to a list for comparison
    input_list = list(input_tuple)
    
    # Check if the input list is equal to its reverse
    if input_list == input_list[::-1]:
        return 'Yes, the tuple is a palindrome!'
    else:
        return 'No, the tuple is not a palindrome.'

# Example usage
input_tuple = (1, 2, 3, 2, 1)  # Example tuple
result = is_tuple_palindrome(input_tuple)
print(result)

Yes, the tuple is a palindrome!

34. Create a tuple of squares of numbers from 1 to 5.

In [235]:
# Define a tuple of numbers
my_tuple = (1, 2, 3, 4, 5)

# Create a new tuple where each element is the square of the corresponding element in the original tuple
square_my_tuple = tuple([i**2 for i in my_tuple])

# Print the new tuple with squared elements
print(square_my_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [236]:
# Define a tuple of numbers
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Create a new tuple containing only the odd numbers from the original tuple
odd_num_tuple = tuple([i for i in my_tuple if i % 2 != 0])

# Print the new tuple containing only the odd numbers
print(odd_num_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [237]:
# Define an input tuple
input_tuple = (1, 3, 5, 7, 9)
print('Input tuple:', input_tuple)

# Create an output tuple by doubling each element of the input tuple
output_tuple = tuple([(i * 2) for i in input_tuple])
print('Output tuple:', output_tuple)

Input tuple: (1, 3, 5, 7, 9)
Output tuple: (2, 6, 10, 14, 18)

37. Create a tuple of random numbers.

In [238]:
# Import the random module
import random as rd

# Create a tuple of 10 random numbers in the range from 1 to 200
tuple_random_num = tuple([rd.randint(1, 200) for i in range(10)])

# Print the tuple containing the random numbers
print('Tuple with random numbers:', tuple_random_num)

Tuple with random numbers: (114, 176, 129, 39, 86, 60, 153, 148, 70, 156)

38. Check if a tuple is sorted.

In [240]:
# Define a function to check if a tuple is sorted
def is_tuple_sorted(input_tuple):
    # Print the input tuple
    print('Input tuple:', input_tuple)
    
    # Convert the tuple to a list, sort it, and convert it back to a tuple
    input_list = list(input_tuple)
    input_list.sort()
    
    # Check if the sorted list matches the input tuple
    if tuple(input_list) == input_tuple:
        return 'Yes, the tuple is sorted.'
    else:
        return 'No, the tuple is not sorted.'

# Define the input tuple
input_tuple = (1, 2, 7, 3, 4, 6, 5)

# Check if the tuple is sorted and print the result
result = is_tuple_sorted(input_tuple)
print('Checking whether the tuple is sorted or not:', result)

Input tuple: (1, 2, 7, 3, 4, 6, 5)
Checking whether the tuple is sorted or not: No, the tuple is not sorted.

39. Rotate a tuple to the left by `n` positions.

In [241]:
# Create a function to rotate a tuple to the left by 'n' positions
def rotate_tuple_left(input_tuple, shift):
    # Print the input tuple
    print('Input tuple:', input_tuple)
    
    # Convert the input tuple to a list
    input_lst = list(input_tuple)
    
    # Perform the rotation 'shift' times
    for i in range(shift):        
        x = input_lst.pop(0)
        input_lst.append(x)
            
    # Convert the list back to a tuple and return it
    return tuple(input_lst)
    
# Define the input tuple and the number of positions to shift
input_tuple = (10, 20, 30, 40, 50) 
shift = 2

# Call the function to rotate the tuple to the left and print the result
result_tuple = rotate_tuple_left(input_tuple, shift)
print('Rotated tuple to the left:', result_tuple)

Input tuple: (10, 20, 30, 40, 50)
Rotated tuple to the left: (30, 40, 50, 10, 20)

40. Rotate a tuple to the right by `n` positions.

In [448]:
# Create a function to rotate a tuple to right by 'n' position
def rotate_tuple_right(input_tuple,shift):
    
    # Print the input tuple
    print('Input tuple :', input_tuple)
    
    # Convert the input tuple to a list
    input_lst = list(input_tuple)
    
    # Perform the rotation 'shift' times
    for i in range(shift):        
        x = input_lst.pop()
        input_lst.insert(0,x)
    
    # Convert the list back to a tuple and return it
    return tuple(input_lst)
    

# user inputs to the function
input_tuple = (10, 20, 30, 40 ,50) 
shift = 2

# call the function and print the result
result_tuple = rotate_tuple_right(input_tuple, shift)
print('Rotated tuple to right:', result_tuple)

Input tuple : (10, 20, 30, 40, 50)
Rotated tuple to right: (40, 50, 10, 20, 30)

41. Create a tuple of the first 5 Fibonacci numbers.

In [242]:
# Define a function to create a tuple of Fibonacci numbers
def create_fibonacci_tuple(n):
    # Initialize an empty list to store the Fibonacci numbers
    lst_fibonacci_num = []
    
    # Initialize the first two numbers of the Fibonacci sequence
    a, b = 0, 1
    
    # Generate the first 'n' Fibonacci numbers
    for i in range(n):
        lst_fibonacci_num.append(a)        
        a, b = b, a + b
        
    # Convert the list to a tuple and return it
    return tuple(lst_fibonacci_num)

# Get user input for the number of Fibonacci numbers to generate
n = int(input('Enter a number: '))

# Call the function to generate the first 'n' Fibonacci numbers and print the result
result = create_fibonacci_tuple(n)
print(f'First {n} Fibonacci numbers:', result)

Enter a number: 5
First 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [302]:
# User input
elements = input('Enter a numbers with comma seperate (i.e., 2,3,4) :')

# Covert input string values into a list
lst = elements.split(',')

# Convert the list into tuple
my_tuple = tuple(lst)

# Print the resulting tuple
print('string ---> tuple')
print(f'{elements} ---> {my_tuple}')

Enter a numbers with comma seperate (i.e., 2,3,4) :1,2,3,4,5,6
string ---> tuple
1,2,3,4,5,6 ---> ('1', '2', '3', '4', '5', '6')

43. Swap two elements in a tuple.

In [456]:
# Create a function to swap elements in a tuple
def swap_elements(input_tuple,first_ele_ind, second_ele_ind):
    
    # Print the input tuple
    print('Input tuple :', input_tuple)
    
    # Convert the input tuple to a list
    input_lst = list(input_tuple)
    
    # Swap the elements at the specified indices
    input_lst[first_ele_ind], input_lst[second_ele_ind] = input_lst[second_ele_ind], input_lst[first_ele_ind]
    
    # Convert the list back to a tuple and return it
    return tuple(input_lst)

# Input tuple and indices for swapping
input_tuple = (10, 20, 30, 40, 50)
first_ele_ind = 1
second_ele_ind = 4

# Call the function to swap elements
result = swap_elements(input_tuple, first_ele_ind, second_ele_ind)
# Print the result after swapping
print('Tuple after swaping two elements :', result)

Input tuple : (10, 20, 30, 40, 50)
Tuple after swaping two elements : (10, 50, 30, 40, 20)

44. Reverse the elements of a tuple.

In [457]:
# Original tuple
original_tuple = (10, 20, 30, 40, 50)
print('Input tuple :', original_tuple)

# Reverse the tuple using slicing
reversed_tuple = original_tuple[::-1]

# Print the reversed tuple
print('output tuple :',reversed_tuple)

Input tuple : (10, 20, 30, 40, 50)
output tuple : (50, 40, 30, 20, 10)

45. Create a tuple of the first `n` powers of 2.

In [275]:
# Get user input for the number
n = int(input('Enter the number: '))

# Generate the squares of the first 'n' numbers and store them in a tuple
result = tuple([i**2 for i in range(1, n+1)])

# Print the resulting tuple
print(f'Power of first {n} numbers:', result)

Enter the number :5
Power of first 5 numbers : (1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [243]:
def longest_string(input_tuple):
    return max(input_tuple, key=len)

# Example usage
str_tuple = ('mango', 'apple', 'banana', 'orange')
longest = longest_string(str_tuple)
print("Longest string in the tuple:", longest)

Longest string in the tuple: banana

47. Find the shortest string in a tuple of strings.

In [276]:
def shortest_string(input_tuple):
    return min(input_tuple, key=len)

# Example usage
str_tuple = ('mango', 'apple', 'banana', 'orange')
longest = shortest_string(str_tuple)
print("Longest string in the tuple:", longest)

Longest string in the tuple: mango

48. Create a tuple of the first `n` triangular numbers.

In [282]:
# Define a function to generate the first 'n' triangular numbers
def triangular_number(n):
    # Initialize an empty list to store the triangular numbers
    triangular_num = []
    for i in range(1, n + 1):
        num = 0
        for k in range(i + 1):
            num += k
        triangular_num.append(num)
    return tuple(triangular_num)

# Get user input for the number of triangular numbers to generate
n = int(input('Enter the number: '))

# Call the function to generate the first 'n' triangular numbers and store them in a tuple
result = triangular_number(n)

# Print the resulting tuple of triangular numbers
print(f'First {n} Triangular numbers:', result)

Enter the number: 10
First 10 Triangular number : (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [293]:
# Define a function to check if one tuple is a subsequence of another tuple
def is_subsequence(main_tuple, sub_tuple):
    # Get the length of the sub_tuple
    len_sub_tuple = len(sub_tuple)
    
    # Initialize a counter for the sub_tuple
    sub_tuple_counter = 0
    
    # Check each element in the sub_tuple
    for i in sub_tuple:
        if i in main_tuple:
            sub_tuple_counter += 1
            
    # Return True if the lengths match, else False
    return len_sub_tuple == sub_tuple_counter


# Define the main tuple and the sub tuple
main_tuple = (1, 2, 4, 5, 7, 6, 8, 9)
sub_tuple = (2, 4)

# Check if sub_tuple is a subsequence of main_tuple and print the result
result = is_subsequence(main_tuple, sub_tuple)

if result:
    print(f'{sub_tuple} is a subsequence of {main_tuple}.')
else:
    print(f'{sub_tuple} is not a subsequence of {main_tuple}.')

(2, 4) is a subsequence of (1, 2, 4, 5, 7, 6, 8, 9).

50. Create a tuple of alternating 1s and 0s of length `n`.

In [298]:
def create_alternating_tuple(n):
    # Initialize 1 and 0
    one = 1
    zero = 0

    # Initialize an empty list to store alternating numbers
    alternating_num = list()

    # Generate alternating 1s and 0s
    for i in range(1, n+1):
        if i % 2 == 0:
            alternating_num.append(one)
        else:
            alternating_num.append(zero)
    
    return tuple(alternating_num)

# Get user input for the length of the tuple
n = int(input('Enter a number: '))

# Generate the tuple with alternating 1s and 0s
result = create_alternating_tuple(n)

# Print the resulting tuple
print(f'Tuple with 1s and 0s of length {n}: {result}')

Enter a number: 10
Tuple with 1s and 0s of length 10: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [244]:
# Create a set containing integers from 1 to 5
my_set = {1, 2, 3, 4, 5}

# Print the resulting set
print('Set with integers from 1 to 5:', my_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [245]:
# Create a set
my_set = {2, 4, 5, 7, 6}

# Get user input for a new number
n = int(input('Enter a number: '))

# Add the input number to the set
my_set.add(n)

# Print the updated set
print(my_set)

Enter a number: 8
{2, 4, 5, 6, 7, 8}

3. Remove an element from a set.

In [246]:
# Create a set
my_set = {1, 3, 2, 6, 7, 8}

# Get user input for the number to remove
n = int(input('Enter a number to remove from the set: '))

# Remove the specified element from the set
my_set.remove(n)

# Print the updated set
print(f'Updated set after removing {n}:', my_set)

Enter a number to remove from the set: 2
Updated set after removing 2: {1, 3, 6, 7, 8}

4. Check if an element exists in a set.

In [247]:
# Create a set with integer elements
my_set = {1, 3, 2, 5, 4, 7, 10, 15}

# Get user input to verify whether it is part of the set or not
n = int(input('Enter a number to verify whether it is part of the set or not: '))

# Check if the input number is part of the set
result = n in my_set

# Print the result based on whether the number is in the set or not
if result:
    print(f'Yes, {n} is part of the set elements.')
else:
    print(f'No, {n} is not part of the set elements.')

Enter a number to verify whether it is part of the set or not: 2
Yes, 2 is part of the set elements.

5. Find the length of a set without using the `len()` function.

In [248]:
# Create a set with various elements
my_set = {1, 3, 'pw', 'skills', 9.456, 250}
print('Input set:', my_set)

# Calculate the length of the set
len_set = sum([1 for i in my_set])

# Print the length of the set
print('Length of set:', len_set)

Input set: {1, 3, 'skills', 'pw', 9.456, 250}
Length of set: 6

6. Clear all elements from a set.

In [495]:
# Create a set with few elements
my_set = {1, 2, 3, 5, 7, 8, 9, 12}

# Remove all elements from the set
my_set.clear()

# Print the update set
print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [249]:
# Create a set with even integer numbers
my_set = set(range(2, 11, 2))

# Print the resulting set
print("Set with even numbers:", my_set)

Set with even numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [250]:
# Create a set with odd integer numbers
my_set = set(range(1, 11, 2))

# Print the resulting set
print('Set with odd numbers:', my_set)

Set with odd numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [252]:
# Create two sets
s1 = {10, 20, 30, 40, 50}
s2 = {30, 12, 15, 25, 23}

# Union of two sets
s1 = s1.union(s2)
print(s1)

{40, 10, 12, 15, 50, 20, 23, 25, 30}

10. Find the intersection of two sets.

In [511]:
# Create two sets
s1 = {1, 2, 4, 5, 7, 3, 8}
s2 = {9, 3, 4, 6, 0}
print('Input set 1 :', s1)
print('Input set 2 :', s2)

# Finding common elements between two sections
result = s1.intersection(s2)

# common elements between s1 & s2
print('common elements between s1 & s2 are :', result)

Input set 1 : {1, 2, 3, 4, 5, 7, 8}
Input set 2 : {0, 3, 4, 6, 9}
common elements between s1 & s2 are : {3, 4}

11. Find the difference between two sets.

In [515]:
# Create two sets to find the difference between them
s1 = {1, 2, 4, 5, 7, 3}
s2 = {9, 3, 4, 6, 0, 5, 8}
print('Input set 1 :', s1)
print('Input set 2 :', s2)

# list of elements which are in s1 and not s2
only_in_s1 = s1.difference(s2)
# List of elements which are in s2 and not s2
only_in_s2 = s2.difference(s1)

# Difference between two sets
print('elements in s1 only :', only_in_s1)
print('elements in s2 only :', only_in_s2)

Input set 1 : {1, 2, 3, 4, 5, 7}
Input set 2 : {0, 3, 4, 5, 6, 8, 9}
elements in s1 only : {1, 2, 7}
elements in s2 only : {0, 8, 6, 9}

12. Check if a set is a subset of another set.

In [527]:
# Create two sets to find if a set is a subset of another set or not
my_set1 = {1, 3, 2, 5, 7, 8, 4}
my_set2 = {3, 5, 7, 8}
my_set3 = {1, 4, 6}
print('Input set 1:', my_set1)
print('Input set 2:', my_set2)
print('Input set 3:', my_set3)

# find s2 is a subset of s1 or not
result  = my_set2.issubset(my_set1)
if result:
    print('Yes, s2 is a subset of s1')
result = my_set3.issubset(my_set1)
if not result:
    print('No, S3 is not a subset of s1')

Input set 1: {1, 2, 3, 4, 5, 7, 8}
Input set 2: {8, 3, 5, 7}
Input set 3: {1, 4, 6}
Yes, s2 is a subset of s1
No, S3 is not a subset of s1

13. Check if a set is a superset of another set.

In [534]:
# Create twwo sets
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {2, 5, 7}
print('Input set1 :', set1)
print('Input set2 :', set2)

# checking s1 is a superset of s2 or not
result = set1.issuperset(set2)

# check s1 is a superset of s2 or not
if result:
    print('Yes, s1 is a super set of s2 ')

Input set1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Input set2 : {2, 5, 7}
True
Yes, s1 is a super set of s2

14. Create a set from a list.

In [253]:
# Create a set with integer elements
my_set = {1, 2, 3, 4, 5, 6}
print('Input set:', my_set)

# Convert the set to a list
my_list = list(my_set)
print('Output list:', my_list)

Input set: {1, 2, 3, 4, 5, 6}
Output list: [1, 2, 3, 4, 5, 6]

15. Convert a set to a list.

In [254]:
# Create a list with integer elements
my_lst = [1, 3, 5, 4, 7, 8]
print('Input list:', my_lst)

# Convert the list to a set
my_set = set(my_lst)
print('Output set:', my_set)

Input list: [1, 3, 5, 4, 7, 8]
Output set: {1, 3, 4, 5, 7, 8}

16. Remove a random element from a set.
sources:
1. https://www.geeksforgeeks.org/python-remove-random-element-from-list/?ref=gcse

In [554]:
# Import module
import random

# Create a set
my_set = {1, 3, 2, 4, 5, 6, 8}
print('Input set :', my_set)

# Select a random value from set
n = random.choice(list(my_set))
print('value to remove from set :', n)

# Remove element from the set
my_set.remove(n)

# Print updated set
print(f'set after removing {n} value from it :', my_set)

Input set : {1, 2, 3, 4, 5, 6, 8}
value to remove from set : 5
set after removing 5 value from it : {1, 2, 3, 4, 6, 8}

17. Pop an element from a set.

In [571]:
# Create a set
my_set = {3, 2, 4, 5, 6, 8}
print('Input set :', my_set)

# Use pop function to remove single element from set
n = my_set.pop()

# Print updated set
print(f'updated set after removing {n} value :', my_set)

Input set : {2, 3, 4, 5, 6, 8}
updated set after removing 2 value : {3, 4, 5, 6, 8}

18. Check if two sets have no elements in common.

In [574]:
# Create two sets
set1 = {10, 20, 30, 40}
print('input set 1:', set1)
set2 = {1, 3, 5, 6, 8}
print('input set 2:', set2)

# Checking if sets have common elements
is_common = set1.isdisjoint(set2)

if is_common:
    print('Yes, two sets have no elements in common')
else:
    print('No, two sets have elements in common')

input set 1: {40, 10, 20, 30}
input set 2: {1, 3, 5, 6, 8}
Yes, two sets have no elements in common

19. Find the symmetric difference between two sets.

In [576]:
# Create two sets to find symmetric difference between them
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print('Input set 1:', set1)
print('Input set 2:', set2)

# finding stmmetric difference between two sets
output_set = set1.symmetric_difference(set2)

# Print output
print(f'symmetric difference betwee two sets :', output_set)

Input set 1: {1, 2, 3, 4, 5}
Input set 2: {3, 4, 5, 6, 7}
symmetric difference betwee two sets : {1, 2, 6, 7}

20. Update a set with elements from another set.

In [586]:
# import module
import random

# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {7, 8, 9, 10, 11}
print('Input set 1:', set1)
print('Input set 2:', set2)

# update a set1 with set2 elements
set1.update(set2)
print('updated set1:', set1)

Input set 1: {1, 2, 3, 4, 5, 6}
Input set 2: {7, 8, 9, 10, 11}
updated set1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

21. Create a set of the first 5 prime numbers.

In [306]:
def first_n_prime(n):
    primes = []
    num = 2
    while len(primes) < n:
        if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):
            primes.append(num)
        num += 1
    return set(primes)

# Get user input for the number of primes to find
n = int(input('Enter the number: '))
result = first_n_prime(n)
print(f"The first {n} prime numbers are: {result}")

Enter the number: 5
The first 5 prime numbers are: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [590]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check two sets are identical
if set1 == set2:
    print('Yes, two sets are identical')
else:
    print('No, two sets are not identical')

Yes, two sets are identical

23. Create a frozen set.

In [593]:
# Create a set
my_set = {1, 2, 3, 4, 5, 6}
print('Input set :', my_set)

frozen_set = frozenset(my_set)

# print forzen set
print('Frozen set :', frozen_set)

Input set : {1, 2, 3, 4, 5, 6}
Frozen set : frozenset({1, 2, 3, 4, 5, 6})

24. Check if a set is disjoint with another set.

In [599]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
print('Input set1 :', set1)
print('Input set2 :', set2)

# Check if set is disjoint with another set 
is_disjoint = set1.isdisjoint(set2)

if is_disjoint :
    print('Yes, set1 is disjoint with set2')
else:
    print('No, set1 is not disjoint with set2')

Input set1 : {1, 2, 3, 4, 5}
Input set2 : {6, 7, 8, 9, 10}
Yes, set1 is disjoint with set2

25. Create a set of squares of numbers from 1 to 5.

In [606]:
# Create a set with numbers from 1 to 5
my_set = {1, 2, 3, 4, 5}
print('Input :', my_set)

# Calculate square of each element in the set
square_my_set = set([i **2 for i in my_set])

# Print outout
print('Output :', square_my_set)

Input : {1, 2, 3, 4, 5}
Output : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [610]:
# Create a set with numbers from 1 to 11
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
print('Input :', my_set)

# Remove even numbers from set
odd_num_set = set([i for i in my_set if i % 2 != 0])

# Print the output
print('set after filtering even numbers :', odd_num_set)

Input : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set after filtering even numbers : {1, 3, 5, 7, 9, 11}

27. Multiply all elements in a set by 2.

In [614]:
# Create a set with numbers from 1 to 10
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
print('Input :', my_set)

# Multiply all element by 2
mul_my_set = set([i * 2 for i in my_set])

# Print output
print('set after multiply with 2 :', mul_my_set)

Input : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set after multiply with 2 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}

28. Create a set of random numbers.

In [621]:
# import module
import random 

# Create a empty set
my_set = set()

# Generate 10 random numbers and add to set
for i in range(10):
    r = random.random()
    my_set.add(int(r*100))
    
# print output
print('Output :', my_set)

Output : {97, 65, 98, 6, 78, 17, 24, 90, 95, 63}

29. Check if a set is empty.

In [626]:
# Create a set
my_set = set()

# Checking set is empty or not
if len(my_set) == 0:
    print('Yes, set is empty')
else:
    print('No, set is not empty')

Yes, set is empty

30. Create a nested set (hint: use frozenset).

In [632]:
# Create a nested set
set1 =  {1, 2, frozenset({3, 4, 5}), 6, frozenset({7, 8, 9})}

# Print output
print('nested set :', set1)

nested set : {1, 2, 6, frozenset({3, 4, 5}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [636]:
# Create a set
my_set = {1, 3, 2, 5, 7}

# Remove element using discard method
my_set.discard(5)

# Print updated set
print('set after removing 5 value :', my_set )

set after removing 5 value : {1, 2, 3, 7}

32. Compare two sets.

In [10]:
# Create two sets
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {6, 7, 8, 4, 2}

## Comparing two sets
if my_set1 == my_set2:
    print('All elements are same in bothe the setse')
else:
    print('Elements are not same in  set')

Elements are not same in  set

33. Create a set from a string.

In [14]:
# Create a variable with string value
string = 'pwskills'
print('Input string :', string)

# Create a set from string
set_string = set(string)

# Print the result
print('string to sets :', set_string)

Input string : pwskills
string to sets : {'p', 'k', 'w', 'l', 's', 'i'}

34. Convert a set of strings to a set of integers.

In [17]:
# Create a set with string value
set_str = {'1', '2', '3', '4', '5'}
print('Input string set :', set_str)

# Conevrt string values to integres
set_int = set([int(i) for i in str_set])

# Print output
print('set of string to set of integer :', set_int)

Input string set : {'3', '1', '4', '2', '5'}
set of string to set of integer : {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [20]:
# Create a set with integer values
set_int = {1, 3, 5, 4, 7}
print('Input set of integres :', set_int)

# Convert set of integers to set of strings
set_str = [str(i) for i in set_int]

# Print output
print('set of integers to set of strings :', set_str)

Input set of integres : {1, 3, 4, 5, 7}
set of integers to set of strings : ['1', '3', '4', '5', '7']

36. Create a set from a tuple.

In [23]:
# Create tuple 
t = (1, 2, 4, 5, 2, 1, 'a', 'b')
print('Input tuple :', t)

# Convert tuple to set
s  = set(t)

# Print output
print('set from tuple :', s)

Input tuple : (1, 2, 4, 5, 2, 1, 'a', 'b')
set from tuple : {1, 2, 4, 5, 'b', 'a'}

37. Convert a set to a tuple.

In [25]:
# Create a set
s = {1, 4, 2, 's', 'h'}

# Convert set to tuple
t = tuple(s)

# Print output
print('Tuple from set :', t)

Tuple from set : (1, 2, 4, 's', 'h')

38. Find the maximum value in a set.

In [28]:
# Create a set with integer values
s = {10, 30, 45, 65, 20}
print('Given set :', s)

# Find the maximum value in the set
max_s = max(s)

# Print the result
print('Maximum value in the give set :', max_s)

Given set : {65, 20, 10, 45, 30}
Maximum value in the give set : 65

39. Find the minimum value in a set.

In [29]:
# Create a set with integer values
s = {10, 30, 45, 65, 20}
print('Given set :', s)

# Find the minimum value in the set
min_s = min(s)

# Print the result
print('Minimum value in the give set :', min_s)

Given set : {65, 20, 10, 45, 30}
Minimum value in the give set : 10

40. Create a set from user input.

In [33]:
# Initialize an empty set
set1 = set()

# Get the number of elements in the set from the user
n = int(input('Enter the number of elements in the set :'))

# Add elements to the set based on user input
for i in range(n):
    k = i ** 2    
    set1.add(k)
    
# Print the set
print('Set after adding elements :', set1)

Enter the number of elements in the set :5
Set after adding elements : {0, 1, 4, 9, 16}

41. Check if the intersection of two sets is empty.

In [43]:
# Create two sets
s1 = {1, 3, 2, 5, 7}
s2 = {1, 4, 8, 9, 6}
print('set 1 :', s1)
print('set 2 :', s2)

# Check the intersection between set-1 and set-2
if not s1.intersection(s2):
    print("we don't have common elements between two sets")
else:
    print("We do have common elements between two sets")

set 1 : {1, 2, 3, 5, 7}
set 2 : {1, 4, 6, 8, 9}
We do have common elements between two sets

42. Create a set of the first 5 Fibonacci numbers.

In [55]:
# Create a empty set
fib = set()

# User Input to create number of fibonacci numbers
n = int(input('Enter number to create fibonacci numbers :'))

# Create number of fibonacci values based on input 
a = 0
b = 1
    
for i in range(n):
    fib.add(a)
    a, b = b, a + b
    
# Print the set
print(f'First {n} fibonacci numers :', fib)

Enter number to create fibonacci numbers :5
First 5 fibonacci numers : {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [63]:
# Create a list with duplicate values
lst = [10, 20, 25, 10, 20, 45, 30]
print('Input list with duplicate elements :', lst)

# Remove duplicates from list
lst1 = list(set(lst))

# Updated list after removing duplicate elements
print('List after removing duplicate elements :', lst1)

Input list with duplicate elements : [10, 20, 25, 10, 20, 45, 30]
List after removing duplicate elements : [10, 45, 20, 25, 30]

44. Check if two sets have the same elements, regardless of their count.

In [64]:
# Example sets to compare
set1 = {1, 2, 3, 4, 5}
set2 = {3, 2, 5, 4, 1}

# Check if both sets have the same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [67]:
# User Input to create a set 
n = int(input('Enter a number to create first n powers :'))

# Iterate through range of values based on input
s1 = set([i**2 for i in range(1,n+1)])
print(f'power of first {n} numbers set :', s1)

Enter a number to create first n powers :10
power of first 10 numbers set : {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

46. Find the common elements between a set and a list.

In [69]:
# Create a set and list
s = {1, 2, 3, 4, 5, 7}
l = [3, 6, 2]
print('Input set :', s)
print('Input list :', l)

# Find the common elements between set and list
result = s.intersection(set(l))

# Print the result 
print('common elements between set and list :', result)

Input set : {1, 2, 3, 4, 5, 7}
Input list : [3, 6, 2]
common elements between set and list : {2, 3}

47. Create a set of the first `n` triangular numbers.

In [71]:
# user Input number
n = int(input('Enter a number :'))

# Initialize empty set
triangular_num = set()

# Iterate through the range of values based on user input
for i in range(1,n+1):
     triangular_num.add((int((i**2+i)/2)))
        
print(f'first {n} list of triangular numbers:', triangular_num)

Enter a number :5
first 5 list of triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [76]:
# Create two sets with integer values
s1 = {1, 2, 3, 5, 6, 7, 8}
s2 = {3, 6, 7}

print('set-1 :', s1)
print('set-2 :', s2)

# Check s2 is subset of s1 or not
if s2.issubset(s1):
    print('Yes, s2 is subset of s1')
else:
    print('No, s2 is not subset of s1')

set-1 : {1, 2, 3, 5, 6, 7, 8}
set-2 : {3, 6, 7}
Yes, s2 is subset of s1

49. Create a set of alternating 1s and 0s of length `n`.

In [84]:
# Function to generate a set of alternating 1s and 0s of length n
def generate_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

# Specify the length of the set
n = 10

# Generate the set of alternating 1s and 0s
result_set = generate_alternating_set(n)

# Print the resulting set
print(f"Set of alternating 1s and 0s of length {n}: {result_set}")

Set of alternating 1s and 0s of length 10: {0, 1}

50. Merge multiple sets into one.

In [79]:
# Create multiple sets
s1 = {1, 2, 3, 4, 5}
s2 = {4, 6, 7}
s3 = {1, 8, 9, 10, 11}

print('set-1 :', s1)
print('set-2 :', s2)
print('set-3 :', s3)

# Merge multiple sets into one
s1 = s1.union(s2, s3)

# Print result
print('set-1 after merging with multiple sets :', s1)

set-1 : {1, 2, 3, 4, 5}
set-2 : {4, 6, 7}
set-3 : {1, 8, 9, 10, 11}
set-1 after merging with multiple sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}